In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib as mpl

In [13]:
df = pd.read_excel('data.xlsx',header=[0,1],index_col=0)

In [14]:
df.columns

MultiIndex([('上半年', '收入'),
            ('上半年', '成本'),
            ('上半年', '费用'),
            ('下半年', '收入'),
            ('下半年', '成本'),
            ('下半年', '费用')],
           )

In [16]:
columns = pd.MultiIndex.from_product([["上半年","下半年"],["收入","成本","费用"]])

In [17]:
data = np.random.randint(0,10000,size=(3,6))
index = ["92#","95#","90#"]
DataFrame(data = data,index=index,columns=columns)

      上半年               下半年
       收入    成本    费用    收入    成本    费用
92#  3256  8563  8788  7205  7086  2555
95#  1577  8283  3921  3671  2671  7430
90#  2529  2860  1385  5793  4185  2499

In [18]:
arrays = [["上半年","上半年","上半年","下半年","下半年","下半年"],["收入","成本","费用","收入","成本","费用"]]
pd.MultiIndex.from_arrays(arrays)

MultiIndex([('上半年', '收入'),
            ('上半年', '成本'),
            ('上半年', '费用'),
            ('下半年', '收入'),
            ('下半年', '成本'),
            ('下半年', '费用')],
           )

In [19]:
tuples = (("上半年","收入"),("上半年","成本"),("上半年","费用"),("下半年","收入"),("下半年","成本"),("下半年","费用"))
pd.MultiIndex.from_tuples(tuples)

MultiIndex([('上半年', '收入'),
            ('上半年', '成本'),
            ('上半年', '费用'),
            ('下半年', '收入'),
            ('下半年', '成本'),
            ('下半年', '费用')],
           )

In [20]:
columns = pd.MultiIndex.from_product([["期中","期末"],["python","java","c"]])
index = ["张三","李四"]
DataFrame(data=np.random.randint(0,100,size=(2,6)),index=index,columns=columns)

       期中              期末
   python java   c python java   c
张三     77   39  70     51   61  19
李四     75   29  17     12   92  33

In [23]:
index = pd.MultiIndex.from_product([["期中","期末"],["张三","李四"]])
columns = ["python","java","c"]
data = np.random.randint(0,100,size=(4,3))
df=DataFrame(data = data,index = index,columns=columns)

In [24]:
df

       python  java   c
期中 张三       7    16  31
   李四      21    77  16
期末 张三      55    15  28
   李四      16     7  93

In [25]:
python = df["python"]
python

期中  张三     7
    李四    21
期末  张三    55
    李四    16
Name: python, dtype: int32

In [ ]:
# 多层索引使用用元组来表达索引逻辑
("期中","张三")

In [26]:
python.loc[("期中","张三")]

np.int32(7)

In [27]:
# 也可以把多级索引变成单级索引
python.loc["期中"]

张三     7
李四    21
Name: python, dtype: int32

In [28]:
python.loc["期中"].loc["张三"]

np.int32(7)

In [29]:
#python.loc[index1:index2]
python.loc[("期中","张三"):("期末","张三")]

期中  张三     7
    李四    21
期末  张三    55
Name: python, dtype: int32

In [30]:
pd.__version__

'2.2.2'

In [31]:
display(python)

期中  张三     7
    李四    21
期末  张三    55
    李四    16
Name: python, dtype: int32

In [34]:
# 用列表同时访问多个值
python.loc[[("期中","张三"),("期末","张三")]]

期中  张三     7
期末  张三    55
Name: python, dtype: int32

In [35]:
df

       python  java   c
期中 张三       7    16  31
   李四      21    77  16
期末 张三      55    15  28
   李四      16     7  93

In [39]:
# df.loc[index,column]
index = ("期中","张三")
column = "java"
df.loc[index,column]=100

In [40]:
df

       python  java   c
期中 张三       7   100  31
   李四      21    77  16
期末 张三      55    15  28
   李四      16     7  93

In [41]:
df.loc[:,"python":"java"]

       python  java
期中 张三       7   100
   李四      21    77
期末 张三      55    15
   李四      16     7

In [42]:
df[["python", "java"]]

       python  java
期中 张三       7   100
   李四      21    77
期末 张三      55    15
   李四      16     7

In [44]:
# 获取期中的成绩
df.loc["期中"]

    python  java   c
张三       7   100  31
李四      21    77  16

In [45]:
# 获取期中的李四和期末的张三成绩
index1 = ("期中","李四")
index2 = ("期末","张三")
df.loc[[index1,index2]]

       python  java   c
期中 李四      21    77  16
期末 张三      55    15  28

In [46]:
df.loc[index1:index2]

       python  java   c
期中 李四      21    77  16
期末 张三      55    15  28

In [47]:
df

       python  java   c
期中 张三       7   100  31
   李四      21    77  16
期末 张三      55    15  28
   李四      16     7  93

In [48]:
df.iloc[[1,2]]

       python  java   c
期中 李四      21    77  16
期末 张三      55    15  28

In [49]:
df.iloc[[0,3]]

       python  java   c
期中 张三       7   100  31
期末 李四      16     7  93

In [51]:
# 隐式索引不受多层级索引的影响，隐式索引永远是单层级
df.iloc[1:]

       python  java   c
期中 李四      21    77  16
期末 张三      55    15  28
   李四      16     7  93

In [52]:
df

       python  java   c
期中 张三       7   100  31
   李四      21    77  16
期末 张三      55    15  28
   李四      16     7  93

In [54]:
df.loc[("期中","张三"),"c"]= np.nan

In [55]:
df

       python  java     c
期中 张三       7   100   NaN
   李四      21    77  16.0
期末 张三      55    15  28.0
   李四      16     7  93.0

In [57]:
df.iloc[0,2]=100

In [58]:
df

       python  java      c
期中 张三       7   100  100.0
   李四      21    77   16.0
期末 张三      55    15   28.0
   李四      16     7   93.0

In [ ]:
# 多层级索引访问的核心
# 1。多层级的索引访问的表达方式变成元组
# 2。隐式索引的访问方式不受影响

#### <b>多层级索引的变形操作(stack)</b>
* stack()
* unstack()

In [59]:
df

       python  java      c
期中 张三       7   100  100.0
   李四      21    77   16.0
期末 张三      55    15   28.0
   李四      16     7   93.0

In [60]:
df.unstack()

   python     java          c
       张三  李四   张三  李四     张三    李四
期中      7  21  100  77  100.0  16.0
期末     55  16   15   7   28.0  93.0

In [62]:
df1 = df.unstack(level=-2)

In [63]:
df1.stack(level=-2)

C:\Users\13202\AppData\Local\Temp\ipykernel_3504\209070657.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df1.stack(level=-2)

              期中    期末
张三 c       100.0  28.0
   java    100.0  15.0
   python    7.0  55.0
李四 c        16.0  93.0
   java     77.0   7.0
   python   21.0  16.0

In [64]:
df

       python  java      c
期中 张三       7   100  100.0
   李四      21    77   16.0
期末 张三      55    15   28.0
   李四      16     7   93.0

In [65]:
df.unstack()

   python     java          c
       张三  李四   张三  李四     张三    李四
期中      7  21  100  77  100.0  16.0
期末     55  16   15   7   28.0  93.0

In [67]:
df.unstack().stack(-2).unstack(-2)

C:\Users\13202\AppData\Local\Temp\ipykernel_3504\1792778451.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.unstack().stack(-2).unstack(-2)

           张三          李四
           期中    期末    期中    期末
c       100.0  28.0  16.0  93.0
java    100.0  15.0  77.0   7.0
python    7.0  55.0  21.0  16.0

In [ ]:
9:30-12:00
14:30-17:00